








<div class="container mt-5 mask"  >
    
  <div class="d-flex justify-content-center"  id="container1"  ><!-- id="container1" -->
    
    <div class="d-flex" >
  
      <div class="col-sm-6 p-3  text-black">
       <div class="Location" >
       <h4>Contact us:</h4>
        <form  #loginGorm="ngForm"  autocomplete="off" onsubmit="return false"  >
          <input
               name ="firstname"
              
              class="form-control me-2"
              type="text"
              placeholder="First name">
              
         
               <input
             name ="lastname"
            
             class="form-control me-2"
             type="text"
             placeholder="Last name">
             <input
             name ="email"
            
             class="form-control me-2"
             type="email"
             placeholder="e mail">

             <textarea class="form-control" name="message" rows="3" placeholder="Put your message here..."  ></textarea>

            <!-- <input
             name ="message"
             
              class="form-control me-2"
              type="textarea"
              placeholder="Put your message here..." > -->
          <button class="btn btn-success" type="submit">Submit</button>
         <!--  <button class="btn btn-warning" type="submit">Cancel</button> -->
        </form>
      </div>
<!-- <script src="https://smtpjs.com/v3/smtp.js"></script> -->
<!-- <script>
 const inputs=document.querySelector('from')
 const btn=document.querySelector('button')
 btn.addEventListener
 ('click',
        ()=>
          {
            Email.send
               (
                  {
                    Host : "smtp.mailtrap.io",
                    Username : "26300469eb260e",
                    Password : "45761af4973836",
                    To : "xyz@ggmail.com",
                    From : inputs.element["email"].value,
                    Subject : "New contact form enquiry",
                    Body : intmputs.element["message"].value + "<br>"+ intmputs.element["firstname"].value
                    + intmputs.element["lastname"].value
                  }
              
               )
               .then
                (
                msg => alert("You sent e mail")
                )
          
              }


)

</script> -->

      </div>
      
      <div class="col-sm-6 p-3 text-black">
       
     <div class="Location">
     <div style="background-color: aliceblue;width: 730px;">
      <h5>Phone:</h5>
      <p>+381 63 123456789</p>
      <h5>e-mail:</h5>
      <p>tralala@ggmail.com</p>
      <h4>Location:</h4>
    </div>
        <img src="../assets/IMG/CompanyLocation3.jpg"  alt="Startup"  style="opacity:1; width:726px;height:540px ;z-index: 1;"  ></div>
        
      </div>
  
    </div>
    
      
    
    </div>
    
    </div>
 